fastapi
uvicorn[standard]
python-multipart
PyMuPDF
fuzzywuzzy
pandas
pydantic
python-Levenshtein
# sentence-transformers
python-dotenv
bert_score
tiktoken
# transformers
evaluate
spacy
openai
google-genai
datasets 
tqdm 
pdf2docx
mammoth
weasyprint
mammoth
pdfplumber

# pip install --upgrade pyarrow datasets
llama-cloud>=2.1
llama-parse
